<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 配置文件xml 参考:https://logback.qos.ch/manual/configuration.html -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 设置 日志打印级别 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>